[submodule "lib/ultralib"]
	path = lib/ultralib
	url = https://github.com/decompals/ultralib.git
[submodule "lib/f3dex2"]
	path = lib/f3dex2
	url = https://github.com/Mr-Wiseguy/f3dex2.git
[submodule "tools/armips"]
	path = tools/armips
	url = https://github.com/Kingcom/armips
[submodule "lib/N64-IPL"]
	path = lib/N64-IPL
	url = https://github.com/decompals/N64-IPL
